<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeLeaf/Layout"
layout:decorator="template1.html">
<head>
<meta charset="utf-8"/>

<title>Votre Banque</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="col-md-6">
		<div class="panel panel-primary">
		<div class="panel-heading">Problème d'autorisation</div>
		<div class="panel-body">
		<div class="red">
			Vous n'avez le droit d'accèder à cette ressource
		</div>
		</div>
	</div>
	
</body>
</html>